<!-- _includes/experience.liquid -->
<div class="experience">
  {% assign experiences = site.data.experience %}
  {% if experiences != blank %}
    <div class="table-responsive" style="max-height: 60vw; overflow-y: auto;">
      <table class="table table-sm table-borderless">
        {% for item in experiences %}
          <tr>
            <td style="width: 10%;">
              {% if item.logo %}
                <img
                  src="{{ item.logo | relative_url }}"
                  alt="{{ item.company }}"
                  style="width: 60px;"
                />
              {% endif %}
            </td>
            <td>
              <strong>{{ item.company }}</strong><br />
              {{ item.date }}, {{ item.position }}<br />
              {% if item.hosts and item.hosts != "" %}
                Hosts: {{ item.hosts }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No experience so far...</p>
  {% endif %}
</div>